$dark-color: #000;
$light-color: #fcf6f4;
$big-title-color: rgba(252, 246, 244, 0.1);
$global-font-family: "Source sans prop", sans-serif;
$desctop-screen-size: 1200px;
$tablet-screen-size: 992px;
$mobile-screen-size: 767px;
$prefixes: ("webkit", "moz", "o");
